.social__list {
    display: flex;
	align-items: flex-end;
	width: 174px;
	height: 36px;
	margin-left: 274px;
	margin-right: auto;
	background: url("../../img/css_sprites\ \(2\).png")center center no-repeat;
	
	
}
  
.social__item {
	margin-right: 10px;
	width: 36px;
	height: 36px;
  
}
  
.social__item:last-child {
	margin-right: 0;
}

.social__item:hover {
  background: url("../../img/css_sprites\ \(2\).png")center center no-repeat;
	border-radius: 50%;
	transition: 1s;
}
